@use '../colors' as *;
@use '../form';

.main_title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 45px;
    svg{
        margin: 0 10px;
    }
}
main{
    max-width: 900px;
    margin: 0 auto 30px;
    border-radius: 45px;
    padding: 50px;
    background-color: white;
    >.msg{
        margin-bottom: 5px;
        text-align: center;
        color: $primary;
    }
    .main_search{
        display: flex;
        justify-content: space-between;
        input{
            width: calc(100% - 60px);
            font-size: 20px;
            padding: 12px 30px;
            @include form.input;
        }
        button{
            height: 52px;
            line-height: 52px;
            background-color: $secondary;
            border-radius: 50%;
            width: 50px;
            margin-left: auto;
            border: none;
            position: relative;
            cursor: pointer;
            transition: background-color .2s ease;
            >svg{
                position: absolute;
                left: 14px;
                top: 14px;
            }
            &:hover{
                background-color: $secondary2;
            }
        }
    }
}
.backgroundCanvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.primary{
    color: $primary;
    font-weight: bold;
}
