@use '../colors' as *;
.showEvent {
    color: $txt;
    >.introduction {
        display: flex;
        figure {
            height: 390px;
            background-color: $bg;
            border-radius: 13px;
            width: 55%;
            >img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .details{
            text-align: right;
            flex: 1;
            h1{
                color: $secondary;
                font-weight: bold;
            }
            p b{
                color: $primary;
            }
            p a{
                color: $txt;
            }
            .short-description{
                margin-top: 15px;
            }
        }
    }
}
