@import 'colors';

@mixin listEvent{
    .event_list{
        margin-top: 30px;
        .event{
            display: flex;
            align-items: center;
            height: 120px;
            >.figure{
                width: 60px;
                height: 60px;
                border-radius: 7px;
                overflow: hidden;
            }
            >div{
                min-height: 70%;
                margin-left: 15px;
                >h3{
                    font-weight: bold;
                    color: $secondary;
                    margin-bottom: 5px;
                    >a{
                        color: inherit
                    }
                }
            }
            >.participar{
                margin-left: auto;
                position: relative;
                height: 45px;
                font-size: 20px;
                padding: 0 34px 0 0;
                width: 45px;
                overflow: hidden;
                background-color: $secondary;
                border: none;
                border-radius: 45px;
                color: white;
                font-weight: bold;
                transition: width .2s;
                cursor: pointer;
                >svg{
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    transform: translateY(-48%);
                    fill: white;
                }
                >span{
                    position: absolute;
                    top: 50%;
                    transform: translate(30px,-50%);
                    right: 40px;
                    opacity: 0;
                    transition: .3s;
                }
                &:hover{
                    width: 160px;
                    >span{
                        opacity: 1;
                        transform: translate(0px,-50%);
                    }
                }
            }
            &:not(:last-child){
                border-bottom: solid 1px rgba(0,0,0,.1);
            }
        }
    }
}