html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: #f3f3f3;
}

header {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  margin-bottom: 110px;
  padding-left: 15px;
}
header nav {
  margin-left: auto;
  width: 727px;
  height: 115px;
  border-radius: 0 0 0 50px;
  box-shadow: 0 0 50px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background-color: white;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header nav ul a {
  padding: 9px 15px;
  font-size: 16px;
  font-weight: 900;
  color: #f55291;
}
header nav ul a:hover {
  color: #2c94e4;
}

.main_title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f55291;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 45px;
}
.main_title svg {
  margin: 0 10px;
}

main {
  max-width: 900px;
  margin: 0 auto 30px;
  border-radius: 45px;
  padding: 50px;
  background-color: white;
}
main > .msg {
  margin-bottom: 5px;
  text-align: center;
  color: #f55291;
}
main .main_search {
  display: flex;
  justify-content: space-between;
}
main .main_search input {
  width: calc(100% - 60px);
  font-size: 20px;
  padding: 12px 30px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.01);
  border: 0;
}
main .main_search button {
  height: 52px;
  line-height: 52px;
  background-color: #2c94e4;
  border-radius: 50%;
  width: 50px;
  margin-left: auto;
  border: none;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
main .main_search button > svg {
  position: absolute;
  left: 14px;
  top: 14px;
}
main .main_search button:hover {
  background-color: #c8dff0;
}

.backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.event_create-form {
  text-align: center;
}
.event_create-form label {
  font-size: 18px;
  font-weight: bold;
  color: #2c94e4;
  display: block;
  text-align: center;
  margin-bottom: 3px;
}
.event_create-form input[type=text], .event_create-form textarea {
  outline: none;
  background-color: rgba(0, 0, 0, 0.01);
  border: 0;
  font-size: 14px;
  padding: 10px 30px;
  width: 100%;
  max-width: 100%;
}
.event_create-form > div {
  margin-bottom: 35px;
  text-align: center;
}
.event_create-form > label {
  margin-bottom: 20px;
}
.event_create-form > button {
  background-color: #2c94e4;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  color: white;
  border-radius: 9px;
  padding: 10px 30px;
}

.event_list {
  margin-top: 30px;
}
.event_list .event {
  display: flex;
  align-items: center;
  height: 120px;
}
.event_list .event > .figure {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  overflow: hidden;
}
.event_list .event > div {
  min-height: 70%;
  margin-left: 15px;
}
.event_list .event > div > h3 {
  font-weight: bold;
  color: #2c94e4;
  margin-bottom: 5px;
}
.event_list .event > div > h3 > a {
  color: inherit;
}
.event_list .event > .participar {
  margin-left: auto;
  position: relative;
  height: 45px;
  font-size: 20px;
  padding: 0 34px 0 0;
  width: 45px;
  overflow: hidden;
  background-color: #2c94e4;
  border: none;
  border-radius: 45px;
  color: white;
  font-weight: bold;
  transition: width 0.2s;
  cursor: pointer;
}
.event_list .event > .participar > svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-48%);
  fill: white;
}
.event_list .event > .participar > span {
  position: absolute;
  top: 50%;
  transform: translate(30px, -50%);
  right: 40px;
  opacity: 0;
  transition: 0.3s;
}
.event_list .event > .participar:hover {
  width: 160px;
}
.event_list .event > .participar:hover > span {
  opacity: 1;
  transform: translate(0px, -50%);
}
.event_list .event:not(:last-child) {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.showEvent {
  color: #2e3437;
}
.showEvent > .introduction {
  display: flex;
}
.showEvent > .introduction figure {
  height: 300px;
  background-color: #f3f3f3;
  border-radius: 13px;
  width: 55%;
}
.showEvent > .introduction .details {
  text-align: right;
  flex: 1;
}
.showEvent > .introduction .details h1 {
  color: #2c94e4;
  font-weight: bold;
}
.showEvent > .introduction .details p b {
  color: #f55291;
}
.showEvent > .introduction .details p a {
  color: #2e3437;
}
.showEvent > .introduction .details .short-description {
  margin-top: 15px;
}
/*
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

